body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b1adad;
}

.container {
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.1);
}

li button {
    background-color: #3a3b3a;
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
